main h1{
    font-size: 50px;
    background-color: rgb(120, 30, 60);
    color: #ffffff;
    text-align: center;
    font-family: "arial", sans-serif;
    padding: 20px;
}
h2{
    font-size: 30px;
    font-family: "arial", sans-serif;
}
p{
    text-align: center;
}
blockquote{
    background-color: #D3DDDA;
    padding: 20px;
    border: 10px solid #C2CCCA;
    box-sizing: border-box;
    width: 250px;
    margin: 0;
}