main h1{
    font-size: 50px;
    background-color: rgb(120, 30, 60);
    color: #ffffff;
    text-align: center;
    font-family: "arial", sans-serif;
    padding: 25px;
    margin: 5px;
}
h2{
    font-size: 30px;
    font-family: "arial", sans-serif;
    padding-bottom: 10px;
}
p{
    padding-bottom: 20px;
    line-height: 1.5;
}
blockquote{
    background-color: #D3DDDA;
    padding: 20px;
    border: 10px solid #C2CCCA;
    box-sizing: border-box;
    width: 250px;
    margin: 0;
}
footer{
    padding: 20px;
}
main div{ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;
}
nav h1{
    font-size: 30px;
    padding: 25px;
    color: white;
}
aside{
    background-color: 3C1D3D;
    text-align: center;
}
a{
    color: white;
    line-height: 1.2;
}
.iconesSociais li{
    display: inline-block;
}
#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}